<table class="table">
    <thead>
        <th ng-repeat="def in $ctrl.definition"> {{ def.label }} </th>
    </thead>
    <tbody>
        <tr class="tableBoundary" ng-repeat="item in $ctrl.dataitems">
            <td class="tableBoundary" ng-repeat="def in $ctrl.definition">
                <span ng-switch="def.dataType">
                    <span ng-switch-when="text">
                        {{ def.data(item) || 'N/A' }}
                    </span>
                    <span ng-switch-when="userAvatar">
                        <user-avatar user="item"></user-avatar>
                    </span>

                </span>
            </td>
        </tr>
    </tbody>
</table>