<!-- Datatable -->
<table class="table">
    <thead>
        <tr>
            <th ng-repeat="def in $ctrl.definition" ng-class="def.headerCssClass">
                {{ def.label }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="tableBoundary" ng-repeat="item in $ctrl.dataitems">
            <td ng-repeat="def in $ctrl.definition" ng-class="def.columnCssClass">
                <span ng-switch="def.dataType">
                    <span ng-switch-when="text">
                        {{ def.data(item) || 'N/A' }}
                    </span>
                    <span ng-switch-when="userAvatar">
                        <user-avatar user="item"></user-avatar>
                    </span>
                    <span ng-switch-when="button">
                        <button type="button" class="btn btn-success" ng-class="def.actionCssClass"
                            ng-click="def.action(item, $index)">
                            {{def.actionLabel}}
                        </button>
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
</table>

<!-- Datatable Footer -->
<div class="clearfix">
    <div class="pull-left">
        <h5>
            Showing {{ pagination.recordStart }} to {{ pagination.recordEnd }} of {{ pagination.total }} entries
        </h5>
    </div>
    <div class="pull-right btn-group" role="group">
        <button type="button" class="btn btn-default" ng-disabled="currentPage === 1" ng-click="gotoFirstPage()">
            First
        </button>
        <button type="button" class="btn btn-default" ng-disabled="currentPage === 1" ng-click="gotoPrevPage()">
            Prev
        </button>
        <button class="btn btn-default" ng-class="{ 'active': (pageNbr === currentPage) }"
            ng-repeat="pageNbr in pageNbrs" ng-click="gotoPage(pageNbr)">
            {{ pageNbr }}
        </button>
        <button type="button" class="btn btn-default" ng-disabled="currentPage === pagination.pages"
            ng-click="gotoNextPage()">
            Next
        </button>
        <button type="button" class="btn btn-default" ng-disabled="currentPage === pagination.pages"
            ng-click="gotoLastPage()">
            Last
        </button>
    </div>
</div>