<div class="modal-header">
    <button 
        type="button" 
        class="close" 
        ng-click="dismiss()" 
        aria-label="Close"> <span>&times;</span>
    </button> 
    <h4 class="modal-title">Update User</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="usr" class="col-md-4 control-label">Name:</label>
            <div class="col-md-8">
                <input 
                    type="text" 
                    class="form-control" 
                   
                    ng-model="userdata.username" >
            </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-md-4 control-label">Password:</label>
            <div class="col-md-8">
                <input 
                    type="password" 
                    class="form-control" 
                    ng-model="userdata.password">
            </div>
    </div>        
</div>
<br>
<br>
<div class="modal-footer">
    <button 
        type="button" 
        class="btn btn-default" 
        ng-click="dismiss()">Close
    </button>
    <button 
        type="button" 
        class="btn btn-primary"  
        ng-disabled="!userdata.username || !userdata.password"  
        ng-click="toUpdateUser()" >Update User
    </button>
</div>
       
