<section ng-controller = "crudController" >
    <div ng-include = "'html/nav.html'" >
    </div>
    <div class="container">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input 
                type="text" 
                ng-model="data.username" 
                class="form-control" 
                placeholder="Name" 
                aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input 
                type="password" 
                ng-model="data.password" 
                class="form-control" 
                placeholder="Password" 
                aria-describedby="basic-addon1">
        </div> 
        <button type="button" class="btn btn-primary"  ng-disabled=!data.username  ng-click="addUser()" >Create</button>
        <button type="button" class="btn btn-warning"  ng-click="updateUser()" >Update</button>
    </div>        
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">User List</div>
            <div class="panel-body">
                <table class="table" >
                    <thead>
                        <th> Index </th>
                        <th> Name </th>
                        <th> Password </th>
                        <th> UserID </th>
                        <th> View </th>
                        <th> Edit </th>
                        <th> Delete </th>
                    </thead>
                    <tr class="tableBoundary" ng-repeat="data in usrData">
                        <td class="tableBoundary" > {{ $index }} </td>
                        <td class="tableBoundary" > {{ data.username }} </td>
                        <td class="tableBoundary" > {{ data.password }} </td>
                        <td class="tableBoundary" > {{ data._id }} </td>
                        <td class="tableBoundary" > 
                            <input 
                                type="button" 
                                class="btn btn-success" 
                                name="" 
                                ng-click="view(data._id)" 
                                value="view">
                         </td>
                        <td class="tableBoundary" > 
                            <input  
                                type="button" 
                                class="btn btn-warning" 
                                name="" 
                                ng-click="edit(data._id,$index)" 
                                value="edit" > 
                        </td>
                        <td class="tableBoundary" >
                             <input 
                                type="button" 
                                class="btn btn-danger"
                                name="" 
                                ng-click="delete(data._id)" 
                                value="delete" > 
                        </td>
                    </tr>
                </table>
            </div>
        </div>   
    </div>
</section>