<nav>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" 
            href="" ng-click="userManagement()"> User Management </a>
        </li>
        <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
            href="" ng-click="todolist()"> Todo List </a>
        </li>
    </ul>
</nav>